<link type="text/css" rel="stylesheet" href="/css/style.css">
<style>
  body {
    background-color: #37383d;
  }

  h2 {
    color: #fff;
    font-size: 120px;
  }
  .homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 50px;
}
  


</style>
<body>
<header>
  <h1 class="display-1 text-center heading"><span>Re</span>fresh !</h1>
</header>
<div class="cont">
  <h2 class="lead text-center">Your salary has been uploaded succsessfuly, we will review it as soon as possible</h2>
      <a href="/salary" class="homePage">Home</a>

</div>

</body>

